* {
box-sizing: border-box;
}

body {
margin: 0;
font-family: sans-serif;
}

.container {
max-width: 1170px;
padding: 0 12px;
margin: 0 auto;
}

.header-controls {
    display: flex;
    gap: 10px;
}

.btn {
font-size: 14px;
font-weight: 400;
line-height: 16px;
display: flex;
flex-wrap: nowrap;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
padding: 10px 15px 10px 15px;
border: none;
border-radius: 5px;
}

.btn-outline {
color: rgba(10, 20, 58, 1);
background-color: transparent;
}

.btn-primery {
color: rgba(255, 255, 255, 1);
background-color: rgba(37, 110, 235, 1);
}

.header {
padding-top: 30px;
padding-bottom: 24px;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-logo span {
color: rgba(10, 20, 58, 1);
font-style: Bold;
font-size: 24px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
margin-left: 6px;
}

.header-burger {
    width: 30px;
    height: 19px;
    display: none;
}

@media (max-width: 1200px) {
    .container {max-width: 930px;}
}

@media (max-width: 991px) {
    .container {max-width: 730px;}
}

@media (max-width: 786px) {
    .container {max-width: 100%;}
    .header-controls {display: none;}
    .header-burger {display: block;}
}
